@use "variables";
header {
margin: 0;
padding: 0;


.logo {
  margin: 20px;
  position: absolute;

    img {
    display: flex;
    width: 16rem;
    height: auto;
    align-items: center;
    padding:0;
    margin: 0;
    animation: shadow-drop-center 0.6s ease-in-out;
    }
}



  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: end;
    height: 7.7rem;
    color: variables.$blanco;
    background-color: variables.$brownie;


    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      width: 100%;
      gap: 5rem;


    li {
      height: 100px;
      align-content: center;
       }

a {
  position: relative;
  display: inline-block;
  color: variables.$cream;
  text-decoration: none;
  transition: transform 0.3s;
  }

a:hover {
  transform: scale(1.02);
}
 }
}

 .headerbutton {
  display: flex;
  flex-direction: row;
  align-self: center;
 }

 .btn {
  display: flex;
  align-self: center;
  justify-content: center;

  color: variables.$cream;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn::after {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: "Nunito Sans";
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}

.icon {
  width: 20px;
  height: 30px;
  transition: 0.2s linear;
}

.icon path {
  fill: rgb(217, 203, 174);
  transition: 0.2s linear;
}

.btn:hover > .icon {
  transform: scale(1.03);
}

.btn:hover > .icon path {
  fill: rgb(177, 139, 189);
}

.btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
    }
  }
  .btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn-cart::after {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Nunito Sans', 'sans-serif';
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.carrito {
  transition: .2s linear;
}

.carrito path {
  fill: rgb(217, 203, 174);
  transition: .2s linear;
}

.btn-cart:hover > .carrito {
  transform: scale(1.03);
}

.btn-cart:hover > .carrito path {
  fill: rgb(177, 139, 189);
}

.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

.quantity {
  display: none;
}

// Footer

footer {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #1C1C1C;

    p{
        display: flex;
        color: variables.$cream;
        text-align: center;
        font-size: small;
        text-shadow: 0px 0px 19px rgba(0,0,0,0.6);
        margin-bottom: 0px;


        a{
            display: flex;
            flex-direction: row;
            width: 3.4%;
            padding-top: 5px;
        }
    }

  .grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1rem; /* Espacio entre columnas */
  padding: 1rem;
}

  .redes {
    display: flex;  
    flex-direction: row;
    gap: 7px;
    margin: 2px;
    justify-content: end;

    img {
    height: 7vh;
    @keyframes redes-grow-shadow {
      0% {
        transform: scale(1);
        box-shadow: none;
      }
      100% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(215, 38, 56, 1);
      }
    }

    @keyframes redes-shrink-shadow {
      0% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(215, 38, 56, 1);
      }
      100% {
        transform: scale(1);
        box-shadow: none;
      }
    }

    &:hover {
      animation: grow-shadow 0.3s forwards ease-out;
    border-radius: 90%;
    }

    &:not(:hover) {
      animation: shrink-shadow 0.3s forwards ease-out;
    border-radius: 90%;
    }   
    }
}
}