$yellowcream: #F5E1A4; // 	Detalles/acento: bordes, líneas, íconos, hover sutiles.
$cream: #D9CBAE; //Crema 	Fondo principal de la página. Suave, no cansa la vista.
$darkcream: #A68A6B; //Crema Oscuro Textos secundarios o fondos de bloques destacados.
$brownie: #2C1A1A; //Marroncito 	Botones, títulos, navbar, zonas fuertes de contraste.
$blanco: #FFFFFF; // blanco
$font: 'Nunito Sans' 'sans serif';